<body *ngIf="!loading">
<header>
  <div class="container">
    <div class="profile">
      <div class="profile-image">
        <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
   </div>
      <div class="profile-user-settings">
        <h1 class="profile-user-name">janedoe_</h1>
      </div>
      <div class="profile-stats">
        <ul>
          <li><span class="profile-stat-count">{{instaData.length}}</span> Posts</li>
          <li><span class="profile-stat-count">188</span> Seguidores</li>
          <li><span class="profile-stat-count">206</span> Seguindo</li>
        </ul>
      </div>
      <div class="profile-bio">
        <p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit
          📷✈️🏕️</p>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container" >
    <div class="gallery">
      <div class="gallery-item" *ngFor="let item of instaData" tabindex="0">
        <img src="{{item.node.thumbnail_src}}"
          class="gallery-image" alt="">
        <div class="gallery-item-info" >
          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                aria-hidden="true"></i><fa-icon [icon]="faHeart"></fa-icon>  {{item.node.edge_liked_by.count}} Likes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</main>
</body>
