/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #999;
  padding-bottom: 3rem;
}
